@import '../../styles/colors.module.scss';
@import 'catalogMixins.scss';

.wrapper{
  position: absolute;
  top:0;
  left:100%;
  width:100%;
  height: 100%;
  padding-top: $headHeight;
  background-color: $white-smoke;
  z-index: 198;
  transition: $trTrans;

  &.show{
    transform: translateX(-100%);
   }
}

.title{
  display: inline-block;
}

.panelHead{
  @include panelHeadM;
  z-index: 199;
}


.optionsGroup{
  position: relative;
  width: 100%;
  min-height: 30px;
  padding: 1rem;
  margin-bottom: 10px;
  background-color: white;

  button{
    position: absolute;
    right:10px;
    font-size: 1.5rem;
  }

  .shiftBtn{
    height: 20px;
    width: 40px;
    border-radius: 20px;
    background-color: rgb(151, 146, 146);
    transition: background-color 0.2s linear;
  }
  .shiftBtn::before{
    position: relative;
    left:2px;
    display: block;
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: honeydew;
    transition: transform 0.2s linear;
  }
  .shiftBtnActive{
    background-color: dodgerblue;
    
  }
  .shiftBtnActive::before{
    transform: translateX(100%);
  }

  .filtersGroup{
    width:100%;
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    list-style:none;

    .filter{
      position: relative;
      width: 100px;
      height: 60px;
      font-size: 1.5rem;
      border: 1px dotted $light-blue;
      border-radius: 10px;
      transition: box-shadow .3s linear;

      a {
        display: grid;
        place-items: center;
        width:100%;
        height: 100%;
        
        span{
           text-align:center;
           transition: transform .3s;
        }
      }
      
      &:hover{
        box-shadow: 0px 0px 2px 1px inset $light-blue;

        span{
          transform: scale(1.05);
        }
      }
    }
  }
}

@media  (min-width:750px) {
  .wrapper,.panelHead{
    width:400px;
  }
}

@media (min-width:950px){
  .panelHead{
    display: none;
  }

 .wrapper{
   grid-column: 1/2;
   position: static;
   height: min-content;
   width: 100%;
   padding-top: 0;
   margin-top: $desktopMarginTop;
   box-shadow: 0 0 5px 1px $phantom-gray;
   background-color: transparent;
   z-index: auto;

   .showCategoryListBtn{
     display: none;
   }
 }
}
