@import '../../styles/colors.module.scss';

.paginationWrapper{
  position: relative;
  display: flex;
  justify-content: space-between;
  
  height: 35px;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;

  background-color: whitesmoke;
  list-style: none;
  font-size: 1.5rem;

  li{
    position: relative;
    height: 35px;
    width: 35px;
    border: 1px dotted grey;
    cursor: pointer;
    background-color: whitesmoke;
    transition:background-color .2s linear;

    &:first-of-type, &:last-of-type{
      border: none;
      background-color: $white-smoke;
    }

    &:hover{
      border-color: $phantom-gray;
      background-color: $phantom-gray;
    }

    svg{
      display: block;
    }
    span, svg{
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
    }

    &.active{
      border: 1px solid black;
    }
  }

  .dots{
    border: none;
    width: 20px;
  }
}