.paginationWrapper{
  position: relative;
  display: flex;
  justify-content: space-between;
  
  height: 35px;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;

  background-color: whitesmoke;
  list-style: none;
  font-size: 1.5rem;

  li{
    position: relative;
    height: 35px;
    width: 35px;
    margin: 0 2px;
    border: 1px dotted grey;
    cursor: pointer;

    svg{
      display: block;
    }
    span, svg{
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
    }

    &.active{
      border: 1px solid black;
    }

    &:hover::after{
      content:'';
      position: absolute;
      display: block;
      inset:0;
      background-color: gray;
      opacity:.2;
    }
  }

  .dots{
    border: none;
    width: 20px;
  }
}