@import '../../styles/colors.module.scss';
@import '../../styles/mixins.module.scss';

$cardFullHeight: 320px;
$pictureFullHeight: 220px;
$toCartBtnDimensions: 40px;

.cardFull {
  display: flex;
  flex-direction: column;
  background-color: $white-smoke;
  box-shadow: 0 3px 6px $phantom-gray;
  overflow: hidden; 
  position: relative;
  transition: filter 0.3s ease;
 
  &:hover {
    filter: brightness(1.1);
  }

  .picture {
    position: relative;
    flex: 0 0 70%;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
    display: block;
    
  }
  .toCartBtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 26px;
      height: 26px;
    }
  }

  .productDetails {
    flex: 1 0 30%;
    padding: 0.4em;
    display: flex;
    flex-direction: column;

    .title {
      font-size: 1.35rem;
      margin-bottom: 0.2em;
    }
    
    .author {
      font-size: 1.2rem;
      margin-bottom: 0.4em;
      font-style: italic;
    }

    .price {
      font-size: 1.5rem;
      margin-top: auto; 
      text-shadow: 0px 0px 1px;
    }
  }
}
