$jet: hsla(0, 0%, 21%, 1);
$phantom-jet:hsla(0, 0%, 21%, 0.1);
$white: hsl(0, 0%, 100%);
$white-smoke: hsla(0, 0%, 99%, 1);
$white-smoke-darker: hsla(0, 0%, 97%, 1);
$phantom-gray:hsla(0, 0%, 50%,0.2);
$light-blue:hsla(202, 100%, 47%, 1);
$skyblue:hsl(188, 98%, 50%);
$light-skyblue:hsla(203, 92%, 75%,1);
$active-light-blue: hsla(199, 92%, 61%,1);
$reddy: hsla(14, 100%, 50%,1);
$pinky-red: hsla(337, 87%, 50%,1);
$white-smoke-hover:hsla(0, 0%, 80%, 1);
$white-smoke-opacityLow: hsla(0, 0%, 99%, 0.8);
