@import '../../styles/mixins.module.scss';

.wrapper{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .submitBtn{
    position: relative;
    height:50px;
    width:250px;
    background-color: red;
    font-size: 1.6rem;
    margin-top: 20px;
  }
}

.centerVH{
  @include centerVH;
}