@import '../../styles/mixins.module.scss';
@import '../../styles/colors.module.scss';

  
  .cartIcon{
    position: relative;
  }

  .cartItemsCounterWrapper{
    position: absolute;
    display: grid;
    place-items: center;
    bottom: -6px;
    right:-9px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: $pinky-red;
    color: $white;

    .cartItemsCounter{
      display: grid;
      place-items: center;
      font-size: 1.5rem;
     
    }
  }


@media  (min-width:950px) {
  .cartIconWrapper{
    grid-area: cart;
  }
}