@import '../../assets/mixins.module.scss'; 
@import '../../assets/colors.module.scss'; 

$padding-topBar-sync: 50px;

@mixin btnBig{
  position: relative;
  width: 80%;
  height: 50px;
  margin: 10px 0;
  background-color: red;
}

.wrapper{
  width: 100%;
  min-height: 100vh;
  font-size: 1.5rem;
  padding: $padding-topBar-sync 20px 20px 20px;
  background-color: $white-smoke;

  .topBar{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: $padding-topBar-sync;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "header";

    .logo{
      font-size: 3rem;  
    }

    .topBarItem{
      margin: 0 0.5rem;
    }
  }

  .cartTabs{
    height: 40px;
    width:80%;
    margin:10px auto;
    border-bottom: 1px dotted gray;

    .cartTab{
      line-height: 40px;
    }
  }

  .productsList{
    
    .product{
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(10, 1fr);
      min-height:100px;
      margin: 10px 0;
      
      
      .productImg{
        position: relative;
        grid-column: 1/3;
        grid-row: 1/11;
        background-color: black;
      }
      .productTitle{
        position: relative;
        grid-column: 3/8;
        grid-row: 1/4;
        align-self: center;
        text-overflow: ellipsis;
        padding-left: 15px;
        font-weight: 500;
       
      }
      .productPrice{
        position: relative;
        grid-column: 7/11;
        grid-row: 6/9;
        justify-self: center;
        align-self: center;
        font-weight: 700;
        
      }
      .removeProductBtn{
        position: relative;
        grid-column: 8/11;
        grid-row: 1/4;
        }
    }    
  }

  .summary{
    margin: 20px 0;
    border-bottom: 1px dotted gray;

    .price{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0;
    }

    .totalDiscount{
      position: relative;
      width:100%;
      height: 3rem;
    }
  }

  .startPaymentBtn{
    @include btnBig;
  }
  .returnBtn{
    @include btnBig;
    border-radius: 30px;
  }
}

.centerVH{
  @include centerVH;
}

.centerV{
  @include centerV;
}

.centerH{
  @include centerH;
}