@import '../../assets/mixins.module.scss';
@import '../../assets/colors.module.scss';

.summary{
  margin: 20px 0;
  border-bottom: 1px dotted gray;
  font-size: 2rem;

  .price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }

  .totalDiscount{
    position: relative;
    width:100%;
    height: 3rem;
  }
}
.centerVH{
  @include centerVH;
}
.colorReddy{
  color: $reddy;
}
