@import '../../assets/colors.module.scss';

.toCartWrapper{
  position: absolute;
  right:30px;
  top:-10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;

  .toCartBtn{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: $jet;
    opacity: 0.5;
  }

  .price{
    font-size: 2rem;
  }
}

@media (min-width:950px){
    .toCartWrapper{
      position: static;
      grid-column: 3/4;
      grid-row: 1/2;
      
      .price{
        padding-top: 10px;
      }
    }
}