@import '../../assets/colors.module.scss';

$trans: transform 0.2s;

.wrapper{
  position: fixed;
  top:0;
  left:100%;
  width:100%;
  height:100%;
  padding: 80px 20px 20px 20px;
  background-color:  $white-smoke;
  z-index: 500;
  transition: $trans;
  
  .content{
   display: flex;
   flex-direction: column;
   align-items: center;
  }
}

.header{
  position: fixed;
  top:0;
  left:100%;
  width: 100%;
  min-height: 50px;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: minmax(30px, auto);
  background-color: $white-smoke;
  align-items: center;
  border-bottom: 1px solid black;
  transition: $trans;
  z-index: 501;

  .iChevronLeft{
    grid-column: 1/2;
    grid-row: 1/-1;
    justify-self: center;
  }
  
  .headerContentWrapper{
    grid-column: 2/3;
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .headerContent{
      margin: 4px;
      font-size: 1.3rem;
    }
    .headerContent:first-child{
      font-size: 2rem;
      font-weight: 600;
    }
    .headerContent:last-child{
      margin-bottom: 10px;
    }
  }
  
}

.showPanel{
  transform: translateX(-100%);
}
