@import '../../assets/mixins.module.scss';

.wrapper{
  height: 100%;
  width: 100%;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .submitBtn{
    position: relative;
    height:50px;
    width:250px;
    background-color: red;
    font-size: 1.6rem;
  }
}

.centerVH{
  @include centerVH;
}