.logoWrapper {
  position: relative;
  min-height: 80%;
  min-width: 15%;

  .logo{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 1.5rem;
  }
}

@media  (min-width:950px) {
  .logoWrapper{
    grid-area: logo;

    .logo{
     font-size: 3rem;
    }
  }
}