@import '../../styles/colors.module.scss';
@import '../../styles/mixins.module.scss';

.searchBar{
  position:absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background-color: $phantom-gray;
  z-index: 50;
  display: none;

  &.showSearchBar{
    display: initial;
  }

  .wrapper{
    position: relative;
    top:50%;
    left:50%;
    height: 80%;
    width:80%;
    max-width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: inset 1px 0 1px 1px $phantom-gray;
    background-color: white;
    border-radius: 100px;
    transform: translate(-50%,-50%);

    .closeIcon{
      position: relative;
      width:16px;
      height:16px;

      &::before{
        left: -10px;
      }
    }

    .searchBtn{
      position: relative;
      display: grid;
      place-items: center;
      width: 20px;
      height: 20px;
      cursor: pointer;

      &::after{
        right: -11px;
      }
    }

    .closeIcon::before,.searchBtn::after{
      position: absolute;
      content: '';
      height: 130%;
      width: 1px;
      box-shadow:  0 0 1px 1px $phantom-gray;
      border-radius: 50%;
    }



    .searchInputLabel{
      align-self: stretch;
      display: grid;
      place-items: center;

      .searchInput{
        height: 3rem;
        max-height: 100%;
        border: none;
        background-color: transparent;
        outline-color: $phantom-gray;
      }
    }

    

    .searchResultsList{
      position: absolute;
      top:70%;
      width:65%;
      max-height: 200px;
      overflow-y: scroll;
      font-size: 1.5rem;
      background-color: white;
      list-style: none;

      li{
        height:45px;
        border-bottom: 1px dotted $phantom-gray;

        a{
          display: block;
          width: 100%;
          height: 100%;
          padding: 5px 0 0 5px;
          
          
          .underText{
            font-size: 1rem;
            color: gray;
            font-style: italic;
          }

        }
        a:focus{
          background-color: $phantom-jet;
        }
      }
     
    }
  }
}

.ellipsis{
  @include ellipsis(1);
}

@media  (min-width:950px) {
  .searchBar{
    position: static;
    grid-area: searcher;
    background-color: transparent;
    z-index: 500;
    display: initial;

    .wrapper{
      background-color: $phantom-jet;
    }

    .closeIcon{
      display: none;
    }

    .searchInput{
      width: 250px;
    }

    .searchResultsList{
      width: 250px;
    }
  }
}