@import '../../../assets/mixins.module.scss'; 
@import '../../../assets/colors.module.scss'; 

.orderProgressWrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0;
  font-size: 1.2rem;

  .orderProgressStep{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    min-width: 60px;

    &::before{
      content:attr(data-step);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 1px dotted black;
      font-size: 1.5rem;
    }
    
    &.active::before{
      background-color: $active-light-blue;
      box-shadow: 0 0 10px $active-light-blue;
    }
  }

  .orderProgressSeparator{
    height: 1px;
    flex-grow: 1;
    margin: 12.5px -10px 0 -10px;
    background-color: black;
  }
}