@import '../../../assets/colors.module.scss';

.twoColumns{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.addressData{
  p{
    font-size: 1.4rem;
    line-height: 1.5em;
  }
}

.listItem{
  display: flex;
  justify-content: space-between;
  margin: 5px 0;

  .itemPrice{
    color:$reddy;
  }
}