@import '../../styles/mixins.module.scss';

@mixin sidePanelTransEnd($translate){
  .showSidePanel{
    transform: translateX($translate);
  
    & .linksContainer >*{
      transform: translateX(0%);
    }
  }
}

@mixin linksContainer($translate){
  .linksContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:100%;
    padding: 0 10%;

    @include elementsTransStart($translate);
    @include sequentTransDelay;
  }
}
