.categorySidePanel {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: snow;
  transition: transform 0.2s ;
  z-index: 150;
  overflow-y: scroll;
}

.showSidePanel{
  transform: translateX(-100%);
}

.headElement{
  position: relative;
  height: 50px;
  flex-shrink: 0;

.content {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
  font-size: 2rem;

  &::before{
    content: '\003C';
    font-size: 2rem;
    top:50%;
    transform: translateY(-50%);
   } 
}
}

@media  (min-width:750px) {
  .categorySidePanel{
    width:400px;
  }
}

@media  (min-width:950px) {
  .categorySidePanel{
    position: absolute;
    left: 0;
    width: 100%;
    height: 250px;
    grid-area: cat;
    display: grid;
    grid-template-columns: 150px;
    grid-auto-rows: 3rem;
    grid-auto-flow: row;
    padding: 0 10px;
    transform-origin: top;
    transform: scaleY(0);

    .headElement{
      display: none;
    }
  }

  .showSidePanel{
    transform: scaleY(1);
  }
}