.categorySidePanel {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background-color: snow;
  transition: transform 0.2s ;
  z-index: 150;
}
.showSidePanel{
  transform: translateX(-100vw);
  
}

.headElement{
  position: relative;
  flex-basis: 8%;

.content {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
  font-size: 2rem;

  &::before{
    content: '\003C';
    font-size: 2rem;
    top:50%;
    transform: translateY(-50%);
    
   } 
}
}