@import '../../assets/colors.module.scss';

.navComponent {
  position: relative;
  flex-basis: 50px;
  flex-shrink: 0;
  border-bottom: 1px solid gray;
  font-size: 2rem;
  background-color: springgreen;
  
  &.arrow::after{
    position: absolute;
    content: '\003E';
    top:50%;
    right: 5%;
    font-size: 3rem;
    line-height: 3rem;
    transform: translateY(-50%);
   }
   
   .content {
    position: absolute;
    top: 50%;
    left: 3%;
    line-height: 1em;
    transform: translateY(-50%); 
  }
}

@media  (min-width:950px) {
  .navComponent{
    grid-column: 1/2;
    grid-row: span 1;
    flex-basis: auto;
    background-color:transparent;
    border: none;

    &.arrow::after{
      display: none;
    }

    .content{
      position: relative;
      left:0;

      &::after{
        position: absolute;
        content: '';
        bottom: -4px;
        left: 50%;
        width: 100%;
        border-bottom: 1px solid $jet;
        transform: translateX(-50%) scaleX(0);
        transition: transform 0.2s;
    }
  
    &:hover::after{
      transform: translateX(-50%) scaleX(1);
    }
    }
}
}