@import '../../styles/colors.module.scss';
@import '../../styles/mixins.module.scss';
@import './navMixins';

.sidePanel {
  @include mobileSidePanel;
  left: -100vw;
  font-size: 1.2rem;
  z-index: 149;

  .header {
    position: relative;
    flex-basis: 20%;
    flex-shrink: 0;
    min-height: 100px;
    background-color: $white-smoke;
  
     .productType {
      position: absolute;
      bottom: 8%;
      margin-left: 3%;
    }

    .closeIcon{
      position: absolute;
      top: 5%;
      right:10%;
      width:32px;
      height: 32px;
      font-size: 50px;
    }
  }

  @include linksContainer(-100vw);
}

@include sidePanelTransEnd(100vw);

@media  (min-width:750px) {
  .sidePanel{
    width:400px;
  }
}

@media  (min-width:950px) {
  .sidePanel{
    position:static;
    grid-area: nav;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    background-color: $green;

    .header{
      display: none;
    }

    .linksContainer{
      flex-direction: row;
      justify-content: space-between;
  
      & >*{
        transform: none;
        transition:none;
      }
    }

  }
}